$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin phone {
  @media only screen and (max-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin largeAndLower {
  @media only screen and (max-width: ($large * 1px)) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: ($large * 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: ($desktop * 1px)) {
    @content;
  }
}

// usage

// h1 {
//   font-size: 4rem;

//   @include phone {
//     font-size: 1rem;
//   }

// }
