// colors
$primary-color: #f4f4f4;
$secondary-color: #0039cc;
$secondary-color-hover: #0044f0;
$white-color: #ffffff;
$white-color-hover: #f3f3f3;
$light-blue-color: #54c1ff;
$grey-color: #222222;
$red-color: rgb(185, 1, 1);
$yellow-color: #fd7e14;

$dark-green-color: #03a65a;
$light-blue-color: #61dbfb;
$dark-grey-color: #232323;
$light-grey-color: #a2a2a2;
$secondary-color-opacity005: rgb(0, 57, 204, 0.05);

//navbar
$navbar-height: 7rem;
$light-gray-color: #d4d4d4;

// fonts size
// 1rem = 10px
$font-size-s: 1rem;
$font-size-m: 1.5rem;
$font-size-l: 2rem;

// margins, padding
$gap-s: 1rem;
$gap-m: 1.5rem;
$gap-l: 2rem;

$app-container-padding: 2rem;

// borders
$border-radius-s: 0.4rem;
$border-radius-m: 0.6rem;
$border-radius-l: 1rem;
$border-radius-circle: 50%;

// shadows
// https://getcssscan.com/css-box-shadow-examples
$box-shadow-id-6: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
